.this {
    display: flex;
    align-content: center;

    height: 72px;

    padding: 0 15px;
    border-radius: 8px;



    &:hover {
        background: rgba(255, 255, 255, 0.08);
    }

    /* style */

    p {
        @apply text-sm;
        line-height: 1;
    }

    /* grid */

    .firstCol, .secondCol {

            display: flex;
            align-items: center;
    }

    .firstCol {
        @apply w-7/12;


        .art {
            height: 48px;
            width: 48px;
            margin-right: 10px;

            background: rgba(255, 255, 255, 0.08);

            img {
                height: 100%;
                width: 100%;
            }
        }

        .songName {
            margin-bottom: 8px;
            
            @apply text-white;
            font-weight: 500;
            
        }
    }

    .secondCol {
        @apply w-5/12;
    }
}